<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tintin.dao.user.IUserLoginMapper">
		<select id="getUserNameById" parameterType="java.lang.String" resultType="java.lang.String">
			SELECT USER_NAME FROM USER_LOGIN_INFO 
				<where>
					USER_ID=#{id}
				</where> 
		</select>
</mapper>
